@page "/produtos/batizado"
<PageTitle>Lembranças | Batizado</PageTitle>

<h1>Lembranças | Batizado</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Descrição dos produtos e trabalhos para batizados.</p>

<h3>Imagens de Produtos</h3>
<p><em>Espaço reservado para imagens de produtos já feitos.</em></p>

<h3>Depoimentos</h3>
<blockquote>
    <p>Lorem ipsum dolor sit amet, cliente satisfeito com as lembranças de batizado.</p>
    <footer>- Cliente</footer>
</blockquote>
