@page "/produtos/perfumados"
<PageTitle>Produtos Perfumados</PageTitle>

<h1>Produtos Perfumados</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Descrição dos produtos perfumados.</p>

<h3>Imagens de Produtos</h3>
<p><em>Espaço reservado para imagens de produtos já feitos.</em></p>

<h3>Depoimentos</h3>
<blockquote>
    <p>Lorem ipsum dolor sit amet, cliente satisfeito com os produtos perfumados.</p>
    <footer>- Cliente</footer>
</blockquote>
