<nav class="navbar horizontal-navbar">
    <ul class="nav-list">
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="dropdown">
            <span class="dropbtn">Produtos</span>
            <ul class="dropdown-content">
                <li><NavLink href="/produtos/maternoinfantil">Lembranças | MaternoInfantil</NavLink></li>
                <li><NavLink href="/produtos/aniversario">Lembranças | Aniversário</NavLink></li>
                <li><NavLink href="/produtos/batizado">Lembranças | Batizado</NavLink></li>
                <li><NavLink href="/produtos/casamento">Lembranças | Casamento</NavLink></li>
                <li><NavLink href="/produtos/empresariais">Lembranças | Empresariais</NavLink></li>
                <li><NavLink href="/produtos/perfumados">Produtos Especiais</NavLink></li>
            </ul>
        </li>
        <li><NavLink href="/contatos">Contato</NavLink></li>
        <li><NavLink href="/sobre">Sobre</NavLink></li>
    </ul>
</nav>
